
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

.outerBox{
    text-align: center;
}
.outerBox div{
    display: inline-block;
    font-family: 'Bungee Spice', sans-serif;
    font-size: 40px;
    background-color: #161616;
    color: white;
    border: 2px solid #444444;
    border-radius: 10px;
    padding: 30px;
    font-weight: bolder;
    margin: 10px;
}

.custom-clock {
    font-size: 50px;
}

#app{
    background-color: rgb(0, 0, 0);
}
body{
    margin-top: 20px;
}
